.hide {
    display: none;
}

table, tr, th, td {
    border: 1px solid black;
}

.task_2-input_fields {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 0.5em;
}

.task_2-input_field {
    display: flex;
    flex-flow: column;
    padding-right: 1em;
}

#submit_input_fields {
    flex: 0 0 100%;
}